
server {
    listen         80;
    server_name    {{nginx.dns}};
    return         301 https://$server_name$request_uri;
}

server {

     listen 443 ssl default_server;

     server_name {{nginx.dns}};

     root {{nginx.site_path}};
     index index.html;

     ssl_certificate ; #сертов нету :^)
     ssl_certificate_key ;
 
     location / {
             try_files $uri $uri/ =404;
     }
}